---
// See https://starlight.astro.build/reference/overrides/#pagetitle

const { entry } = Astro.locals.starlightRoute;

const status = entry.data.status;
const links = entry.data.links || {};

const demoBase = "https://itwin.github.io/design-system/";
const demoUrl = links.demo ? demoBase + links.demo : null;

const githubBase = "https://github.com/iTwin/design-system/blob/main/";
const githubUrl = links.github?.startsWith("https://")
	? links.github
	: links.github
		? githubBase + links.github
		: null;

const figmaUrl = links.figma;
---

<hgroup>
	<h1 id="_top">{entry.data.title}</h1>
	{entry.data.description && <p>{entry.data.description}</p>}
</hgroup>

{
	Object.keys(links).length > 0 && (
		<ul role="list">
			{status && (
				<li>
					Component status: <strong data-status={status}>{status}</strong>
				</li>
			)}
			{demoUrl && (
				<li>
					<a href={demoUrl}>View demo page</a>
				</li>
			)}
			{githubUrl && (
				<li>
					<a href={githubUrl}>View GitHub source</a>
				</li>
			)}
			{figmaUrl && (
				<li>
					<a href={figmaUrl}>View Figma component</a>
				</li>
			)}
		</ul>
	)
}

<style>
	@layer overrides {
		h1 {
			font-size: var(--sl-text-h1);
			line-height: var(--sl-line-height-headings);
			font-weight: 600;
			color: var(--sl-color-white);
			text-box: cap alphabetic;
		}

		h1 + p {
			margin-top: var(--stratakit-space-x4);
			color: var(--stratakit-color-text-neutral-secondary);
		}

		ul {
			list-style-type: none;
			display: grid;
			gap: var(--stratakit-space-x1);

			a::after {
				content: "↗";
				content: "↗" / "External";
				position: absolute;
				margin-inline-start: 2px;
			}
		}

		strong[data-status] {
			display: inline-block;
			padding-inline: 8px;
			padding-block: 2px;
			margin-block: -3px;
			border-radius: 9999px;
			border: 1px solid var(--stratakit-color-border-neutral-base);
		}
	}
</style>
